.card-custom {
    overflow: hidden;
    min-height: 250px;
    /*max-height: 350px;*/
    min-width: 200px;
    margin-top: 20px;
    border: 0;
    /*box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);*/
}

.card-custom-img {
    height: 150px;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
    position: absolute;
    content: '';
    top: 121px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}

.card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 50px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
}

.card-person-avatar img {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: transparent;

    /*border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);*/
    position: absolute;
    margin: 50px auto;
}

.card-deck {
    margin-bottom: 20px;
}

.card-purchase {

}

ul {
    margin-left: 4em;
    list-style-type: circle;
}
p {
    margin-left: 2em;
}