h1 {
    /*font-size: 64px;*/
    /*padding-left: 7vw;*/
    font-weight: 800;
}
h3 {
    font-size: 1.1rem;
    font-weight: 800;
}
h4 {
    font-size: 1.2rem;
    font-weight: 800;
}
label {
    display: grid;
    text-align: center;
}
.bt-16 {
    margin-bottom: 6rem !important;
}
.text-kno {
    text-align: left!important;
}
.stats-page-top-margin {
    margin-top: 20px;
}
.wraper-qr,
.wrapper-center {
    align-items: center !important;
    justify-content: center !important;
    /*height: 30vh;*/
}
.stats-backgnd {
    background: TRANSPARENT;

    /*padding: 1em 0;*/
}
.progress {
    background: TRANSPARENT;
    width: 160px;
    height: 160px;
    display: flex;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: TRANSPARENT;
    border-radius: 1rem;
}
.progress .track, .progress .fill-study, .progress .fill-discuss {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 8;
    transform: rotate(90deg)translate(0px, -80px);
}
.progress .track {
    stroke: #20313e;
    animation-delay: 2s;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.progress .fill-study {
    stroke: rgb(55, 179, 252);
    stroke-dasharray: 219.99078369140625;
    stroke-dashoffset: -219.99078369140625;
    transition: stroke-dashoffset 1s;
    transform: rotate(90deg)translate(0px, -80px);
}
.progress .fill-discuss {
    stroke: rgb(132, 228, 50);
    stroke-dasharray: 219.99078369140625;
    stroke-dashoffset: -219.99078369140625;
    transition: stroke-dashoffset 1s;
    transform: rotate(90deg)translate(0px, -80px);
}
.progress .fill-practical {
    stroke: rgb(237, 162, 57);
    stroke-dasharray: 219.99078369140625;
    stroke-dashoffset: -219.99078369140625;
    transition: stroke-dashoffset 1s;
    transform: rotate(90deg)translate(0px, -80px);
}

.progress .valueF,
.progress .valueC,
.progress .valueS {
    stroke: rgb(55, 179, 252);;
    text-anchor: middle;
}

.progress .text {
    font-size: 12px;
    /*fill: #000000;*/
    text-anchor: middle;
}
.progress .svg {
    font-size: 14px;
    font-weight: 400;
}
.percentile,
.practical,
.discuss,
.study,
.create {
    font-weight: bold;
    font-size: 1.2em;
    font-family: Arial;
}
.study {
    margin: 20px 0 0 0;
    color: rgb(55, 179, 252);

    animation: fadeIn 2s;
    animation-delay: 1s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.create {
    margin: 6px 0 0 0;
    color: #20313e;
    animation: fadeIn 2s;
    animation-delay: 1s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

.discuss {
    margin: 6px 0 0 0;
    color: rgb(132, 228, 50);
    animation: fadeIn 2s;
    animation-delay: 1s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}
.practical {
    margin: 6px 0 0 0;
    color: rgb(237, 162, 57);
    animation: fadeIn 2s;
    animation-delay: 1s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}
.earnings {
    margin: 3.6rem 0 0 2.6rem;
    color: #20313e;
    /*font-weight: bold;*/
    font-size: 1.1em;
    font-family: Arial;
}
.period {
    margin-left: 2.8rem;
    color: #20313e;
    font-size: .7em;
    font-family: Arial;
}
.percentile {
    margin: 1.5rem 0 .4rem .6rem;
    color: #20313e;
    font-size: 1.2em;
    font-family: Arial;
    line-height: 1.4rem;
}
.pubs-label {
    font-size: 1.1rem;
    font-weight: 800;
}
.pubs {
    font-size: 1.1rem;
    font-weight: 400;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 768px) {
    canvas {
        max-width: 18rem;
        max-height: 18rem
    }
    .progress {
        background: TRANSPARENT;
        width: 110px;
        height: 110px;
    }
    .study,
    .create {
        font-size: 1em;
        font-weight: bold;
    }
    create {
        margin: 6px 0 0 0;
    }
}

@media screen and (max-width: 580px) {

    .earnings {
        font-size: 1em;
        margin: 2.2rem 0 0 1.8rem;
    }
    .progress {
        margin: 0 0 0 26px;
    }
    .text-kno {
        text-align: center!important;
    }
}