@charset "UTF-8";
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background: #fff;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-text-block {
    position: relative;
    display: block;
    width: 100%;
    /*margin-top: 42px;*/
    padding: 87px 30px 30px;
    border-radius: 12px;
    background-color: #101114;
}
.swiper-text {
    position: relative;
    display: block;
    margin-top: 32px;
    margin-bottom: 64px;
    font-family: 'Roc Grotesk Wide',sans-serif;
    font-size: 18px;
    font-style: italic;
    line-height: 1.5;
    font-weight: 700;
    color: #FFFFFF;
}
.swiper-name {
    font-size: 18px;
    margin-bottom: 6px;
}
.swiper-pos {
    font-size: 16px;

}
.swiper-quote-top {
    position: absolute;
    top: 31px;
    width: 37px;
    height: 27px;
}
.swiper-quote-bottom-1 {
    position: absolute;
    align-content: end;
    top: 196px;
    right: 30px;
    width: 37px;
    height: 27px;
}
.swiper-quote-bottom-2 {
    position: absolute;
    align-content: end;
    top: 306px;
    right: 30px;
    width: 37px;
    height: 27px;
}
.swiper-scrollbar {
    scrollbar-color: blue green;
}
.carousel-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 28px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.carousel-nav-inner {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 42px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.carousel-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 56px;
    height: 56px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}
.swiper-button-next, .swiper-button-prev {
    top: 46%;
}

